<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else%}{{ site.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- bootstrap3 -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-theme.min.css">
    <!-- custom style -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.css" media="all">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
  </head>
  <body>
    <!-- top navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- main content -->
    <div class="container-fluid">
      <div class="row">
        <!-- main article -->
        <article class="col-sm-9">
          {{ content }}
        </article>
        <!-- side bar -->
        <nav class="col-sm-3">
          <!-- recent posts -->
          <h5><span class="glyphicon glyphicon glyphicon-asterisk" aria-hidden="true"></span> Recent posts</h5>
          <ul class="recent_posts">
            {% for post in site.posts limit:10 %}
              {% capture this_date %}{{ post.date | date: "%Y-%m" }}{% endcapture %}
              {% capture prev_date %}{{ post.next.date | date: "%Y-%m" }}{% endcapture %}
              {% if forloop.first %}
                <li class="date">{{this_date}}</li>
              {% else %}
                {% if this_date != prev_date %}
                  <li class="date">{{this_date}}</li>
                {% endif %}
              {% endif %}
              <li class="title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
          <!-- all categories -->
          <h5><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> All categories</h5>
          <ul class="tag_box inline">
            {% assign categories_list = site.categories %}
            {% include JB/categories_list %}
          </ul>
          <!-- all tags -->
          <h5><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> All tags</h5>
          <ul class="tag_box inline">
            {% assign tags_list = site.tags %}
            {% include JB/tags_list %}
          </ul>
        </nav>
      </div>

      <!-- footer copyright -->
      <hr>
      <footer class="row">
        <div class="col-sm-12">
          <p>&copy; {{ site.time | date: '%Y' }}
            <a href="http://github.com/{{ site.author.github }}" target="_blank">{{ site.author.name }}</a>
            with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
            and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
          </p>
        </div>
      </footer>
    </div>

    {% include JB/analytics %}
    <!-- jQuery (for Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- bootstrap3 -->
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
