/* post */
.page-header {
  margin: 0; }
.page-header > h1 {
  margin-top: 0; }
.post .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* smaller cotent headings font size */
.content h1 {
  font-size: 180%;
  font-weight: bold;
  border-bottom: 1px solid #eee; }
.content h2 {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 1px solid #eee; }
.content h3 {
  font-size: 130%;
  font-weight: bold; }
.content h4 {
  font-size: 120%;
  font-weight: bold; }
.content h5 {
  font-size: 110%;
  font-weight: bold; }
.content h6 {
  font-size: 100%;
  font-weight: bold; }

/* kill pagination top margin */
.pagination {
  margin: 0; }

/* recent posts */
.recent_posts {
  list-style: none;
  margin: 0;
  padding: 0; }
.recent_posts .date {
  font-weight: bold; }
.recent_posts .title {
  margin-left: 1.5em;
  list-style-type: disc; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
  overflow: hidden;
  display: inline-block; }

.tag_box li {
  line-height: 28px; }

.tag_box li .glyphicon {
  padding-right: .5em;
  line-height: inherit; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }